<div class="menu-container">
    <div class="menu">
        <h1 class="menu-header">Cards</h1>
        <input
            id="gid"
            class="input game-id-input"
            maxlength=6
            placeholder="Enter game ID"
            spellcheck=false
            (input)="onIDInput($event)"
            (keyup.enter)="onJoinEvent()"
        />
        <button
            class="button green join-button"
            [disabled]="!isIDValid()"
            (click)="onJoinEvent()"
        >Join</button>
        <button
            class="button blue create-button"
            (click)="onCreateClick()"
        >New Game</button>
    </div>
</div>