<div class="background" [style.background]="getBackground()"></div>
<div
    class="page-container"
    [style.top]="positions.main.top + '%'"
    [style.left]="positions.main.left + '%'"
>
    <app-menu (join)="onJoin($event)" (create)="onCreateMenu()"></app-menu>
</div>
<div
    class="page-container"
    [style.top]="positions.create.top + '%'"
    [style.left]="positions.create.left + '%'"
>
    <app-create-game (cancel)="onCancel()" (create)="onCreate($event)"></app-create-game>
</div>
<div
    class="page-container"
    [style.left]="positions.game.left + '%'"
    [style.top]="positions.game.top + '%'"
></div>