@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap')

*
    margin: 0
    padding: 0
    outline: none
    overflow: hidden

    &:not(input)
        user-select: none

body
    font-family: "Roboto", sans-serif
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

button.button
    display: block
    text-transform: uppercase
    border: none
    font-size: 1.5em
    text-align: center
    width: 400px
    max-width: 80%
    height: 50px
    border-radius: 25px
    padding: 10px
    transition: background 0.3s ease

    &.red
        background: #F44336
        color: white
    
    &.pink
        background: #E91E63
        color: white

    &.purple
        background: #9C27B0
        color: white

    &.deep-purple
        background: #673AB7
        color: white

    &.indigo
        background: #3F51B5
        color: white

    &.blue
        background: #2196F3
        color: white
    
    &.light-blue
        background: #03A9F4
        color: black

    &.cyan
        background: #00BCD4
        color: black
    
    &.teal
        background: #009688
        color: white

    &.green
        background: #4CAF50
        color: white

    &.light-green
        background: #8BC34A
        color: black

    &.lime
        background: #CDDC39
        color: black

    &.yellow
        background: #FFEB3B
        color: black

    &.amber
        background: #FFC107
        color: black

    &.orange
        background: #FF9800
        color: black

    &.deep-orange
        background: #FF5722
        color: black

    &.brown
        background: #795548
        color: white

    &.blue-gray
        background: #607D8B
        color: white

    &:disabled
        background: #9E9E9E
        color: white

input.input
    border: 1px solid rgba(0, 0, 0, 0.38)
    color:  rgba(0, 0, 0, 0.87)
    font-size: 1.5em
    text-align: center
    width: 398px
    height: 30px
    padding: 10px 0
    border-radius: 25px
    display: block
    max-width: 80%
    
    &:focus::placeholder
        color: transparent
    
    &::placeholder
        text-shadow: rgba(0, 0, 0, 0.38)
        font-weight: normal
        text-transform: none

.menu-header
    color: #FFFFFF
    text-align: center
    font-size: 3em